<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<!-- You may want to add other icon formats and sizes, but have this at the least: -->
<link rel="shortcut icon" href="favicon.ico">
<script src="/script.js"></script>
<script src="//unpkg.com/@ungap/custom-elements/es.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="your.css"> -->