<!doctype html>

<html lang="en">

  <head>
    <%- include('./partials/head'); %>
  </head>

  <body>
    <noscript>
      <p style="background-color: darkslategray; color: white;">
      JavaScript is not enabled. Some content may be unavailable or not work as expected.
    </p>
    </noscript>
    <%- include(pageBodyPath) %>
  </body>
</html>