<%- include('../partials/header'); %>

<div class="container-lg px-4">
  <form action="/printer" method="post">
    <h2>Classic POST Test</h2>
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="age" placeholder="Age">
    <input type="submit" value="Submit">
  </form>

  <form action="/printer" id="xhr-form-get" data-clear-form="true">
    <h2>XHR GET Test</h2>
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="age" placeholder="Age">
    <input type="submit" value="Submit">
  </form>

  <form class="card p-4 m-2" action="/printer" method="post" id="xhr-form" data-clear-form="true">
    <div class="mb-3">
      <label for="exampleInput1" class="form-label">Text Test</label>
      <input type="text" class="form-control" id="exampleInput1" aria-describedby="testHelp" name="text">
      <div id="testHelp" class="form-text">Test input</div>
    </div>
    <div class="mb-3">
      <label for="exampleInput2" class="form-label">Number Test</label>
      <input type="number" class="form-control" id="exampleInput2" aria-describedby="testHelp" name="number">
      <div id="testHelp" class="form-text">Test input</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checkbox">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
  const xhrForm = document.getElementById('xhr-form');

  xhrifyFormElement(xhrForm);

  xhrForm.addEventListener('xhr-form-success', (event) => {
    console.log('Post XHR Form Success', event.detail);
  });

  xhrForm.addEventListener('xhr-form-failure', (event) => {
    console.log('Post XHR Form Failure', event.detail);
  });

  const xhrFormGet = document.getElementById('xhr-form-get');

  xhrifyFormElement(xhrFormGet);

  xhrFormGet.addEventListener('xhr-form-success', (event) => {
    console.log('Get XHR Form Success', event.detail);
  });

  xhrFormGet.addEventListener('xhr-form-failure', (event) => {
    console.log('Get XHR Form Failure', event.detail);
  });
</script>