<%- include('../partials/header'); %>

  <main>
    <p>
      If you do not recognize this page, you may be looking for the
      <a href="https://www.danceblue.org/">DanceBlue website</a> instead. This
      page is used for online access and entry to the DanceBlue database.
    </p>
  </main>

  <footer>
    <p>
      For more information, please contact
      <a href="mailto:app@danceblue.org">app@danceblue.org</a>.
    </p>
  </footer>