<form class="card p-4 m-2 xhr-form" action="/api/event" method="post" data-clear-form="true">
  <div class="mb-3">
    <!-- eventName -->
    <label for="event-name-field" class="form-label">Event Name</label>
    <input type="text" class="form-control" id="event-name-field" aria-describedby="event-name-help" name="eventName">
    <div id="event-name-help" class="form-text">The name of the event.</div>
  </div>
  
</form>