<!doctype html>

<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header>
      Base-bones HTML5
    </header>
    <main>
      Base-bones HTML5
    </main>
    <footer>
      Base-bones HTML5
    </footer>
    <script src="your.js"></script>
    <noscript>
      <!-- Optional, place it wherever it makes sense -->
      JavaScript is not enabled.
    </noscript>
  </body>
</html>